

<div  *ngIf="model" class="row">


  <div class="col-md-1 col-sm-12">
    <input (change)="toggleCompleted($event)" [checked]="model.isCompleted"  id="chetyre{{model.id}}" type="checkbox"
           value="" class="w-4 h-4 text-blue-600 bg-gray-100 rounded border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600
           dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
    <label for="chetyre{{model.id}}" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300"></label>
  </div>

  <div class="col-md-5 col-sm-12">
    <div [class.linethrough] = "model.isCompleted">{{model.title}}</div>
  </div>

  <div class="col-md-3 col-sm-12">
    <div [class.linethrough] = "model.isCompleted">{{model.date.toLocaleString()}}</div>
  </div>

  <div class="col-md-3 col-sm-12">
    <button (click)="remove()" class="btn btn-danger">
    Удалить
    </button>
  </div>
</div>


